*{
    padding: 0px;
    margin: 0px;
}

.hover-text-secondary-emphasis{
    color: #2b2f32;
    display: inline-block;
}

.hover-text-secondary-emphasis::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color:#2b2f32;
    transition: width 0.3s;
}

.hover-text-secondary-emphasis:hover::after{
    width: 100%;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    min-width: 8rem  !important;
}

/*  */

/* .mycarousel:hover .overlay{
    height: 100%;
    width: 100%;
    opacity: 0.6;
}
.mycarousel:hover .overlay .title{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(0, -50%);
}
.mycarousel:hover .overlay .description{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(0, -50%);
} */

/*  */

.mycarousel{
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}
.inner{
    max-width: 100%;
    max-height: 100%;
    white-space: nowrap;
    transition: transform 1s;
}
.mycarousel_item{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.mycarousel_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mycarousel_text{
    position: absolute;
    font-size: 1.15rem;
    margin: 40px 0;
    padding: 0 20px;
    white-space: normal;
    color: #ff000000;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.arrow-carousel-left{
    position: absolute;
    background-color: red;
    height: 30px;
    width: 30px;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    z-index: 10;
    cursor: pointer;
}
.arrow-carousel-right{
    position: absolute;
    background-color: red;
    height: 30px;
    width: 30px;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    z-index: 10;
    cursor: pointer;
}
.mycarousel_pointer{
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}
.mycarousel_pointer_item{
    background-color: red;
    border-radius: 35px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.mycarousel:hover .mycarousel_img{
    opacity: 0.6;
}
.mycarousel:hover .mycarousel_text h1{
    color: #ffffff;
}