*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.my_navbar{
    height: 4rem;
}

.header_text{
    text-align: center;
}

.menu_active{
    transition:background-color 1s;
}

.menu_hover{
    color: #2b2f32;
    display: inline-block;   
}

.menu_hover::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color:#2b2f32;
    transition: width 0.3s;

}

.menu_hover:hover::after{
    width: 100%;
}
/* ###################################################################### */
/* carousel */
/* ###################################################################### */
.mycarousel{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}
.inner{
    max-width: 100%;
    /* max-height: 100%; */
    height: inherit;
    white-space: nowrap;
    transition: transform 1s;
}
.mycarousel_item{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.mycarousel_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
}
.mycarousel_text{
    position: absolute;
    font-size: 1.15rem;
    margin: 40px 0;
    padding: 0 20px;
    white-space: normal;
    color: #00000000;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.mycarousel_text *{
    transition: 2s;
}
.arrow{
    position: absolute;
    left: 0;
    width: 100%;
    /* height: 10px; */
    /* background-color: #2b2f32; */
}
.arrow_carousel_left{
    position: absolute;
    background-color: red;
    height: 30px;
    width: 30px;
    left: 10%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.arrow_carousel_right{
    position: absolute;
    background-color: red;
    height: 30px;
    width: 30px;
    right: 10%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.mycarousel_pointer{
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0);
}
.mycarousel_pointer_item {
    height: 60px;
    width: 60px;
    border-radius: 35px;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
}
.mycarousel:hover .mycarousel_img{
    opacity: 0.6;
}
.mycarousel:hover .mycarousel_text *{
    color: #ffffff;
}
/* ###################################################################### */
/* mycard */
/* ###################################################################### */
.card_inner{
    border-radius: 15px;
    position: relative;
    height: 300px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}
.card_img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
}
.card_detail{
    display: flex;
    flex-direction: column;
    max-width: 10%;
    bottom: 10%;
    margin: 0 15px;
    color: #00000000;
    transition: 2s;
}
.card_detail *{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_date{
    position: absolute;
    height: 10%;
    bottom: 5px;
    right: 5px;
    background-color: #f2f2f2;
    border-radius: 8px;
    transition: 2s;
}
.card_item:hover .card_img{
    opacity: 0.6;
}
.card_item:hover .card_detail{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    bottom: 10%;
    margin: 0 15px;
    color: #ffffff;
}
.card_item:hover .card_date{
    position: absolute;
    height: 10%;
    bottom: 5px;
    right: 5px;
    background-color: #f2f2f200;
    border-radius: 8px;
}
/* ###################################################################### */
/* service */
/* ###################################################################### */
.service_img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}
/* ###################################################################### */
/* CardandDetail */
/* ###################################################################### */
.CL_Img_main{
    height: 400px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}
.CL_Img_left{
    height: 250px;
    right: 30%;
}
.CL_Img_right{
    height: 250px;
    right: -30%;
}
/* ###################################################################### */
/* veanue */
/* ###################################################################### */
.map_img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
/* ###################################################################### */
/* Login Signup */
/* ###################################################################### */

.bg-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 4rem);
}
.full_img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.form{
    width: 350px ;
    height: auto ;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.text_style1{
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
}
.btn_style1{
    border-radius: 25px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
.error_message{
    color: rgb(243, 29, 29);
}

